# Data Cleaning with Python (Part 1)

In this topic, we’ll perform data cleaning tasks in Python using Pandas, focusing on:

- **Standardising data types** to ensure correct formats.
- **Standardising product names and categories** for consistency.
- **Handling missing values** to maintain data completeness.

After reading the instructions for the step, run the cell to see the results.

### Step 1: Import Libraries and Load Data

First, we need to import the necessary libraries and load our dataset. Pandas is the primary library we’ll use to manipulate our data.

In [5]:
# Importing the Pandas library
import pandas as pd

# Loading the dataset
df = pd.read_csv('../inputs/datasets/raw/Customer_Sales_Transaction.xls')

# Displaying the first few rows of the dataset
df.head()

,CustomerID,TransactionID,Transaction Date,Product Name,Product Category,Quantity,Price Per Unit,Payment Method,Customer Age,Total Amount
0,CUST041,TXN0001,14/12/2023,Tablet,Electronics,£9.00,229.78,Debit Card,34.0,2068.02
1,CUST008,TXN0002,02/12/2023,Tablet,Electronics,£4.00,443.23,Debit Card,39.0,1772.92
2,CUST002,TXN0003,01/12/2023,Smartphone,Electronics,£4.00,221.94,Cash,34.0,887.76
3,CUST048,TXN0004,07/08/2023,Monitor,Electronics,£9.00,226.87,Debit Card,47.0,2041.83
4,CUST018,TXN0005,27/06/2023,Laptop,Electronics,£1.00,169.77,Debit Card,71.0,169.77

### Step 2: Standardise Data Types

Ensuring each column has the correct data type is crucial. For example, quantities should be numeric, not formatted as currency. We’ll review the data types and correct any mistakes.

- **Check Data Types:** Use `.dtypes` to view the data type of each column.
- **Convert the Quantity Column:** If `Quantity` is not already numeric, we’ll convert it to a numeric format.

In [6]:
# Check the data types of each column
print(df.dtypes)

CustomerID           object
TransactionID        object
Transaction Date     object
Product Name         object
Product Category     object
Quantity             object
Price Per Unit      float64
Payment Method       object
Customer Age        float64
 Total Amount       float64
dtype: object

In Pandas, the `object` data type is a general-purpose type that usually holds strings (text data) but can technically store any Python object. When a column is labeled as `object`, it typically means:

- **Text (String) Data**: The most common usage of `object` in Pandas is for columns containing text. For example, names, product categories, and descriptions are often stored as `object` type.

- **Mixed Data**: If a column contains a mix of data types (e.g., numbers and strings together), Pandas defaults to the `object` type since it’s more flexible and can accommodate different types.

The columns that need corrections include **Transaction Date** and **Quantity**.

### Correcting Data Types

1. **Transaction Date**: Convert to `datetime` format to enable date-specific operations.
2. **Quantity**: Convert to `int` or `float`, depending on the nature of the data.

Here’s how you might apply these corrections in Python:

### a) Converting `Transaction Date` Data Type to Datetime Format

In [8]:
df['Transaction Date'] = pd.to_datetime(df['Transaction Date'], errors='coerce')

/tmp/ipykernel_2361/2810516242.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Transaction Date'] = pd.to_datetime(df['Transaction Date'], errors='coerce')

- `pd.to_datetime(..., errors='coerce')`: Converts `Transaction Date` to `datetime` format, setting invalid dates to `NaT` (Not a Time).

In [9]:
print("The transaction date data type is: ", df['Transaction Date'].dtype)

The transaction date data type is:  datetime64[ns]

### b) Converting Quantity data type to `float`

In [10]:
# Remove the pound symbol and convert the Quantity column to float
df['Quantity'] = df['Quantity'].replace('[£]', '', regex=True)
df['Quantity'] = df['Quantity'].astype(float)

**Explanation:**

- `.replace('[£]', '', regex=True)`: Removes the `£` symbol from each entry in the `Quantity` column. The `regex=True` argument allows for pattern matching, so any occurrence of `£` is replaced with an empty string.
- `.astype(float)`: Converts the `Quantity` column to a `float` data type after removing the currency symbol, making it ready for numerical analysis.

In [11]:
print("The Quantity data type is: ", df['Quantity'].dtype)

The Quantity data type is:  float64

In [12]:
#print the dataset
df.head(5)

,CustomerID,TransactionID,Transaction Date,Product Name,Product Category,Quantity,Price Per Unit,Payment Method,Customer Age,Total Amount
0,CUST041,TXN0001,2023-12-14,Tablet,Electronics,9.0,229.78,Debit Card,34.0,2068.02
1,CUST008,TXN0002,2023-12-02,Tablet,Electronics,4.0,443.23,Debit Card,39.0,1772.92
2,CUST002,TXN0003,2023-12-01,Smartphone,Electronics,4.0,221.94,Cash,34.0,887.76
3,CUST048,TXN0004,2023-08-07,Monitor,Electronics,9.0,226.87,Debit Card,47.0,2041.83
4,CUST018,TXN0005,2023-06-27,Laptop,Electronics,1.0,169.77,Debit Card,71.0,169.77

### Step 3: Standardise Text in Product Name and Product Categories

Consistency is essential when analysing categories or product names.

- **View Unique Values**: Check unique entries in `Product Name` and `Product Category`.
- **Replace Inconsistent Values**: Use `.replace()` to standardise the values.

### a) Standardise Text in Product Name
 
Inconsistent product names can interfere with grouping and analysis. For example, `Lap Top` and `Laptop` should be treated as the same product. We’ll first check for unique product names and then correct any inconsistencies.

- **View Unique Product Names:** Use `.unique()` to get a list of all unique product names.

In [ ]:
# print unique value in the column 'Product Name'
print(df['Product Name'].unique())

['Tablet' 'Smartphone' 'Monitor' 'Laptop' 'Lap Top' 'Headphones'
 'Desk Chair' 'Keyboard' 'Sofa' 'Table']
Product Name
Headphones    35
Tablet        34
Monitor       29
Smartphone    27
Laptop        23
Desk Chair    23
Keyboard      21
Table          5
Sofa           3
Lap Top        1
Name: count, dtype: int64

- **Replace Inconsistent Values:** Use `.replace()` to correct any misspelled or misformatted names.

In [9]:
# Replace inconsistent product names
df['Product Name'] = df['Product Name'].replace({
    'Lap Top': 'Laptop'
})

- #### Check the unique values to ensure the replacements are done correctly.

In [10]:
# Print Unique Values again
print(df['Product Name'].unique())

['Tablet' 'Smartphone' 'Monitor' 'Laptop' 'Headphones' 'Desk Chair'
 'Keyboard' 'Sofa' 'Table']

### b) Standardise Text in Product Category

Like product names, categories should also be consistent to prevent analysis issues. For instance, `electronic` and `Electronics` should be the same category. We’ll use similar steps as above to check and standardise `Product Category`.

- **View Unique Categories:** Use `.unique()` to see all entries in `Product Category`.

In [11]:
print(df['Product Category'].unique())

['Electronics' 'furnitures' nan 'Electronic' 'Furniture']

- **Replace Inconsistent Values:** Use `.replace()` to standardize category names.

In [12]:
# Replace 'electronic' with 'Electronics'
df['Product Category'] = df['Product Category'].replace('Electronic', 'Electronics')

In [13]:
# Replace 'furnitures' with 'Furniture'
df['Product Category'] = df['Product Category'].replace('furnitures', 'Furniture')

- #### Check the unique values to ensure the replacements are done correctly.

In [14]:
print(df['Product Category'].unique())

['Electronics' 'Furniture' nan]

- We can see that the replacement has been done correctly, but we have noticed a missing value represented by NaN. Now, let's handle the missing values.

### Step 4: Handle Missing Values

Let's identify any missing values and handle them appropriately.

1. **Check for Missing Values:** Use `.isnull().sum()` to get a count of missing values in each column.
2. **Fill Missing Values in Product Category:** Based on context, fill in missing categories (e.g., if `Product Name` is "Tablet," set `Product Category` to "Electronics").
3. **Impute Missing Customer Ages:** Use the median age to fill in missing values in `Customer Age` as it's less affected by outliers.

In [15]:
# Counting the number of missing values for each column
print(df.isnull().sum())

CustomerID          0
TransactionID       0
Transaction Date    0
Product Name        0
Product Category    1
Quantity            0
Price Per Unit      0
Payment Method      0
Customer Age        1
 Total Amount       0
dtype: int64

- We can see that the columns **Product Category** and **Customer Age** each have one missing value. Lets inspect these rows.

### a) Handling Missing Value in Product Category Column

In [16]:
# Print rows where 'Product Category' is null
df[df['Product Category'].isnull()]

,CustomerID,TransactionID,Transaction Date,Product Name,Product Category,Quantity,Price Per Unit,Payment Method,Customer Age,Total Amount
8,CUST048,TXN0009,2023-12-25,Tablet,NaN,4.0,390.53,Debit Card,42.0,1562.12

- Here, we see that the product is "Tablet." Therefore, we can handle this missing value by setting the `Product Category` to "Electronics."

In [17]:
import numpy as np #import the Numpy Library

# Replace NaN values in 'Product Category' with 'Electronics'
df['Product Category'] = df['Product Category'].replace(np.nan, 'Electronics')

- `np.nan` is used to represent missing values (NaN) in the replace function.
- This code replaces all `NaN` values in the Product Category column with "Electronics."

In this case, we knew there was only one missing value in `Product Category` and that the `Product Name` was "Tablet." Therefore, we used a simple replacement to fill in "Electronics" as the category:

```python
import numpy as np

# Replace NaN values in 'Product Category' with 'Electronics' for a single known missing entry
df['Product Category'] = df['Product Category'].replace(np.nan, 'Electronics')

However, if there are multiple missing values in `Product Category` for different products, each belonging to a distinct category, we need to be more specific. This approach requires us to target both the product name and the intended category to avoid incorrect replacements.

For instance, if we have missing values across several products, we can use a conditional approach to assign the correct category based on `Product Name`. Here’s how we could achieve this:

```python
# Fill missing 'Product Category' values based on specific 'Product Name' conditions

# For rows where 'Product Name' is 'Tablet' and 'Product Category' is missing, set 'Product Category' to 'Electronics'
df.loc[(df['Product Name'] == 'Tablet') & (df['Product Category'].isnull()), 'Product Category'] = 'Electronics'

# For rows where 'Product Name' is 'Chair' and 'Product Category' is missing, set 'Product Category' to 'Furniture'
df.loc[(df['Product Name'] == 'Chair') & (df['Product Category'].isnull()), 'Product Category'] = 'Furniture'

# For rows where 'Product Name' is 'Phone' and 'Product Category' is missing, set 'Product Category' to 'Electronics'
df.loc[(df['Product Name'] == 'Phone') & (df['Product Category'].isnull()), 'Product Category'] = 'Electronics'

### b) Handling Missing Value in Customer Age Column

In [18]:
# Print rows where 'Customer Age' is null
df[df['Customer Age'].isnull()]

,CustomerID,TransactionID,Transaction Date,Product Name,Product Category,Quantity,Price Per Unit,Payment Method,Customer Age,Total Amount
11,CUST048,TXN0012,2023-07-26,Headphones,Electronics,4.0,231.3,Cash,NaN,925.2

- For missing `'Customer Age'`, use the median to fill in these values

In [19]:
# Finding the Median
age_median = df['Customer Age'].median()
print(age_median) # The median is 46

46.0

In [20]:
#Replace NA values in Customer Age column with median age
df['Customer Age'].fillna(age_median, inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_14408\1215337441.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Customer Age'].fillna(age_median, inplace=True)

In [21]:
# Confirm no missing values remain in these key columns
print(df.isnull().sum())

CustomerID          0
TransactionID       0
Transaction Date    0
Product Name        0
Product Category    0
Quantity            0
Price Per Unit      0
Payment Method      0
Customer Age        0
 Total Amount       0
dtype: int64

## Save the Cleaned Dataset

In [22]:
# Export the DataFrame to a CSV file
df.to_csv('cleaned_data.csv', index=False)

In this topic, we:

- Corrected data types.
- Standardised text values in the `Product Name` and `Product Category` columns.
- Handled missing values by filling with appropriate values where possible.

By cleaning the data this way, we ensure our dataset is consistent and ready for analysis.

## What's Next?

In the next topic, Data Cleaning in Python (Part 2), we’ll focus on handling duplicates, detecting outliers, and performing data integration and feature engineering to further improve data quality.