In [1]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv('data/Methane_final.csv')
df.head()
df.shape

(1548, 9)

In [5]:
df.dtypes

Unnamed: 0      int64
region         object
country        object
emissions     float64
type           object
segment        object
reason         object
baseYear       object
notes          object
dtype: object

In [10]:
df['notes'].nunique()

3

In [7]:
df.describe(include='all')

,Unnamed: 0,region,country,emissions,type,segment,reason,baseYear,notes
count,1548.000000,1548,1548,1548.000000,1548,1548,1548,1548,1548
unique,NaN,9,105,NaN,4,12,4,2,3
top,NaN,Africa,Australia,NaN,Energy,Total,All,2022,Not available
freq,NaN,406,22,NaN,1233,414,746,1233,877
mean,773.500000,NaN,NaN,643.255972,NaN,NaN,NaN,NaN,NaN
std,447.013423,NaN,NaN,5566.238201,NaN,NaN,NaN,NaN,NaN
min,0.000000,NaN,NaN,0.000459,NaN,NaN,NaN,NaN,NaN
25%,386.750000,NaN,NaN,2.659361,NaN,NaN,NaN,NaN,NaN
50%,773.500000,NaN,NaN,24.064669,NaN,NaN,NaN,NaN,NaN
75%,1160.250000,NaN,NaN,128.419594,NaN,NaN,NaN,NaN,NaN
max,1547.000000,NaN,NaN,141953.765625,NaN,NaN,NaN,NaN,NaN